APP_NAME="SaaS Editais"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost/editais-system/public"
APP_PRODUCTION_URL="https://editais.paulafernandacl.com"
APP_TIMEZONE="America/Fortaleza"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u696029111_editais
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_NAME=editais_session
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=Lax

LOG_LEVEL=INFO
BILLING_TRIAL_DAYS=15

MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
